@use "../../../../scss/light-theme.scss";

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 3440px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: light-theme.$detail-light;
}

.topo {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 6rem;
  border-radius: 5%;
}
