* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 3440px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #787878;
}



a:hover {
  color: black;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}
.topo {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.organizador {
  margin-left: 10rem;
}

.logo {
  width: 6rem;
  border-radius: 5%;
}
