* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 3440px;
  display: flex;
  flex-direction: column;
  background-color: #787878;
  padding-left: 25%;
}

a {
  text-decoration: none;
  color: #F2F2F2;
  display: flex;
  align-items: baseline;
}

a:hover {
  color: black;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}
.topo {
  margin-bottom:0.5rem
}
.organizador {
  margin-left: 10rem;
}
