* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 3440px;
  display: flex;
  flex-direction: column;
  background-color: #787878;
  padding-right: 25%;
}



a:hover {
  color: black;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}
.topo {
  margin-bottom:0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.organizador {
  margin-left: 10rem;
}

.logo {
  width: 6rem;
  border-radius: 5%;
}

.nav {
  padding-left: 50%;
}
