<div class="container">
  <section class="infos">
    <div class="barra">
      <div class="apresentacao">
        <div class="imagem">
          <img src="../../assets/img/eu.jpeg" alt="" class="eu">
        </div>
        <div class="basicos">
          <p class="nome">Leonardo Garcia</p>
          <p class="ocupacao">Analista de Help Desk</p>
        </div>
      </div>
      <div class="contatos">
        <p>Contato:</p>
        <ul>
          <li>
            <a href="mailto:leonardogirotogarcia@gmail.com">
              <img class="icone" alt="Leo-Gmail" src="../../assets/img/gmail.png">
            </a>
          </li>
        </ul>
        <p>Social:</p>
        <ul>
          <li>
            <a href="https://linkedin.com/in/lgirotogarcia" target="_blank">
              <img class="icone" alt="Leo-LinkedIn" src="../../assets/img/linkedin.png">
            </a>
          </li>
          <li>
            <a href="https://github.com/lgirotogarcia" target="_blank">
              <img class="icone" alt="Leo-GitHub" src="../../assets/img/github.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="experiencias">
    <div class="sobre-mim">
      <p class="titulo">Sobre mim</p>
      <p class="texto">Me chamo Leonardo Giroto Garcia, tenho 24 anos. Sou formado em Administração de Empresas pela Universidade Presbiteriana Mackenzie. Estudo programação desde Maio de 2021.</p>
    </div>
    <div class="graduacao">
      <p class="titulo">Graduação</p>
      <!-- <p class="texto">Visão olística</p> -->
      <p class="texto">Formado em Administração de empresas pela Universidade Presbiteriana Mackenzie. Ingressei no curso em Janeiro de 2017 e concluí em Dezembro de 2020. Nesse curso pude aprender a enxergar um negócio como um todo. A ver pessoas não como números, mas como parte importante da empresa. Aprendi </p>
    </div>
    <div class="trabalho">
      <p class="titulo">Experiências</p>
      <div class="container-org organizador">
        <ul class="container-ul">
          <div class="combo-lista">
            <div class="container-li">
              <li class="lista-empresa">Live Software Ltda.</li>
              <li class="lista-data">Out./21 - Atualmente</li>
            </div>
            <li class="lista-descricao">Atuo como suporte ao cliente. Ajudando-o nas configurações da loja, tirando dúvidas sobre diversas áreas do sistema, caso haja a necessidade, faço o encaminhamento para a área de desenvolvimento responsável, back-end ou front-end.</li>
          </div>

          <div class="combo-lista">
            <div class="container-li">
              <li class="lista-empresa">Amazon Serviços de Varejo do Brasil Ltda.</li>
              <li class="lista-data">Fev./19 - Fev./20</li>
            </div>
            <li class="lista-descricao">Durante meu período como estagiário em Gerenciamento de Contas, trabalhei cuidando de contas de vendedores, ajudando-os a vender mais e ensinando-lhes as "boas práticas" para que a conta crescesse cada vez mais. Eventualmente cuidava também dos relatórios do time, Como gerente de produtos, gerava relatórios de acompanhamento dos produtos da Amazon, e ajudava a desenvolver produtos novos (como o Programe e Poupe).</li>
          </div>

          <div class="combo-lista">
            <div class="container-li">
              <li class="lista-empresa">Cidade Náutica Empreendimentos Imobiliários.</li>
              <li class="lista-data">Jul.18 - Dez./18</li>
            </div>
            <li class="lista-descricao">Durante meu período de estágio trabalhei gerindo os contratos de locação da empresa, atualizando o contrato quando estava prestes a expirar. Fiz vistorias nos imóveis antes e depois da locação. Estava sempre em contato com o cliente para saber suas necessidades e supri-las.</li>
          </div>

          <div class="combo-lista">
            <div class="container-li">
              <li class="lista-empresa">Rhodia Poliamida e Especialidades S/A.</li>
              <li class="lista-data">Jan./18 - Jul./18</li>
            </div>
            <li class="lista-descricao">Durante meu período de estágio, trabalhei em duas frentes. Ambas em Recursos Humanos. A primeira, era acompanhar o contrato de todos os estagiários do Brasil. Acompanhando também os relatórios de seus líderes, e ajudando-os com eventuais dúvidas. A segunda, era fazer o acompanhamento das férias de diversos times do Brasil. Criando relatórios personalizados para cada líder poder acompanhar seus funcionários sem deixar que suas férias vencessem.</li>
          </div>

        </ul>
      </div>
    </div>
  </section>
</div>
