*{
  margin: 0;
  padding: 0;
  border: 0;
  /* margin-top: 0.5%; */
  font-family: 'Ubuntu', sans-serif;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  width: 100%;
  align-content: center;
}

.infos {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 1080px;
  align-items: center;
}

.barra{
  width: 80%;
  border-right: 2px solid #787878;
  padding-right: 20px;
  height: 100%;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eu {
  margin-top: 2%;
  border-radius: 50%;
  height: 10rem;
}

.basicos {
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
}


.nome{
 margin: 0px;
}

.ocupacao{

}

.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone {
  width: 40px;
  margin: 2px;
}

.experiencias {
  width: 80%;
}

.sobre-mim {
  padding-top: 2%;
  width: 60%;
}

.contatos ul li, .trabalho ul li {
  list-style-type: none;
}

.titulo {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.titulo-xp {
  margin-bottom: 15px;
}

.organizador {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: content-box;
  border: 2px black solid;
  /* align-content: space-between; */
}

.empresas, .descricao {
  flex: 1;
  border: 2px red solid;
}

.empresas {
  box-sizing: content-box;
}

.container-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lista {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.lista-descricao {
  margin-bottom: 25px;
}
