*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  max-width: 3440px;
  justify-content: center;
  min-height: 92vh;
  flex-direction: row;
  background-color: #F2F2F2;
  /* border: 2px black solid */
}


.infos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.barra{
  padding-left: 3rem;
  border-right: 2px #787878 solid;
  padding-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eu {
  margin-top: 2%;
  border-radius: 50%;
  height: 10rem;
}

.basicos {
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
}


.nome{
 margin: 0px;
}

.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone {
  width: 40px;
  margin: 2px;
}

.experiencias {
  width: 30%;
  margin-top: 1rem;
  padding-left: 2rem;
}

.sobre-mim {
  padding-top: 2%;
  width: 100%;
}

.contatos ul li, .trabalho ul li {
  list-style-type: none;
}

.titulo {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.container-org {
  display: flex;
  width: 100%;
  align-content: center;
}

 .container-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;

 }

.lista-empresa {
  width: 20%;
  padding-right: 20px;
  /* border: 2px red solid; */
}

.lista-descricao {
  width: 80%;
  /* border: 2px blue solid; */
  margin-bottom: 0.8rem;
}
