<div class="container">
  <section class="infos">
    <div class="barra">
      <div class="apresentacao">
        <div class="imagem">
          <img src="../../assets/img/eu.jpeg" alt="" class="eu">
        </div>
        <div class="basicos">
          <p class="nome">Leonardo Garcia</p>
          <p class="ocupacao">Analista de Help Desk</p>
        </div>
      </div>
      <div class="contatos">
        <p>Contato:</p>
        <ul>
          <!-- <li>
            <img class="icone" alt="Leo-WhatsApp" src="../../assets/img/whatsapp.png">
          </li> -->
          <li>
            <a href="mailto:leonardogirotogarcia@gmail.com">
              <img class="icone" alt="Leo-Gmail" src="../../assets/img/gmail.png">
            </a>
          </li>
        </ul>
        <p>Social:</p>
        <ul>
          <li>
            <a href="https://linkedin.com/in/lgirotogarcia" target="_blank">
              <img class="icone" alt="Leo-LinkedIn" src="../../assets/img/linkedin.png">
            </a>
          </li>
          <li>
            <a href="https://github.com/lgirotogarcia" target="_blank">
              <img class="icone" alt="Leo-GitHub" src="../../assets/img/github.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="experiencias">
    <div class="sobre-mim">
      <p class="titulo">Sobre mim</p>
      <p class="texto">Me chamo Leonardo Giroto Garcia, tenho 24 anos. Sou formado em Administração de Empresas pela Universidade Presbiteriana Mackenzie. Estudo programação desde Maio de 2021.</p>
    </div>
    <div class="graduacao">
      <p class="titulo">Graduação</p>
      <p class="texto">Visão olística</p>
    </div>
    <div class="trabalho">
      <p class="titulo">Experiências</p>
      <div class="container-org organizador">
        <ul class="container-ul">
          <li class="lista lista-empresa">Live Software Ltda.<br></li>
          <li class="lista lista-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.</li>
          <li class="lista lista-empresa">Amazon</li>
          <li class="lista lista-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.</li>
          <li class="lista lista-empresa">Cidade Náutica</li>
          <li class="lista lista-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.</li>
          <li class="lista lista-empresa">Rhodia</li>
          <li class="lista lista-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.</li>
        </ul>
      </div>
    </div>
  </section>
</div>
