@use "@scss/light-theme";
@use "@scss/basics";

* {
  margin: 0;
  padding: 0;
  margin: 0;
  @include light-theme.text;
}

.container {
  @include basics.container-page;
  background-color: light-theme.$primary-light;
}

.cattos-container {
  @include basics.project-container;
}

.titulo {
  @include basics.project-title;
}

.button {
  padding-top: 1rem;
}

.btn {
  padding: 0.8rem;
  background-color: light-theme.$secondary-light;
  color: light-theme.$primary-light;
  border-radius: 8px;
  font-size: 1.4rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: light-theme.$btn-hover-light;
}

.cattos {
  padding-top: 2rem;
}

.imagem {
  max-width: 550px;
  border-radius: 10px;
}
