*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.container {
  display:flex;
  flex-direction: row;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5rem;
  color: #383838;
  transition-timing-function: linear;
  transition: background 0.5s;
}

.nav-item a:hover {
  background-color:#919191;
  /* color: #F2F2F2; */
}

#curriculo {
  padding-right: 1rem;
}
