button {
  background-color: #383838;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



.button-circle {
  background-color: #f2f2f2;
  border-radius: 50%;
  height: 2.1rem;
  width: 2.1rem;
  color: transparent;
}
