<div class="container">
<app-nav-lateral></app-nav-lateral>
  <div class="conteudo">
  <p class="texto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit. Donec auctor, dolor quis ultricies pellentesque, libero tortor porttitor sapien, a iaculis quam risus vel lorem. Cras tincidunt vestibulum eleifend. Nunc vitae dolor molestie, cursus velit sit amet, cursus ante. Etiam.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis eu dolor sit amet ornare. Integer non aliquet elit.
  </p>
  </div>
</div>
