*{
  font-family: 'Ubuntu', sans-serif;
}

.navegacao {
  border: 2px black solid;
  width: 10%;
  height: 87%;
  background-color: rgb(36, 36, 36);
}

.projetos {
  display: flex;
  background-color: black;
}

.lista-projetos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projeto {
  list-style-type: none;
  color: #ffffff;
  margin: 10px;
  text-align: center;
  border: 0;
}

.proj-link:hover {
  background-color: rgb(54, 54, 54);
}
