@use "../../../../scss/light-theme";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: light-theme.$hover-light;
  justify-content: center;
  border-top: 2px light-theme.$detail-light solid;
  height: 25px;
  color: light-theme.$secondary-light
}
