@use "../../../../scss/light-theme";
@use "../../../../scss/basics";

*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.navegacao {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: light-theme.$primary-light;
  width: 12rem;
  min-height: 73.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navegacao ul li {
  list-style-type: none;
}

.projeto {
  @include basics.list;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition-timing-function: linear;
  transition: background 0.5s;
}

.projeto a {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 6px;
  color: light-theme.$secondary-light;
}

.projeto a:hover {
  background-color: light-theme.$hover-light;
}

.barra {
  padding-right: 1rem;
  border-right: 2px light-theme.$detail-light solid ;
  height: 100%;
}
