<div class="container">
  <nav class="navegacao">
    <ul class="lista-projetos">
      <a routerLink="/projeto1" class="proj-link">
      <li class="projeto">Projeto 1</li>
    </a>
    <a routerLink="/projeto2" class="proj-link">
      <li class="projeto">Projeto 2</li>
    </a>
    <a routerLink="/projeto3" class="proj-link">
      <li class="projeto">Projeto 3</li>
    </a>
    <a routerLink="/projeto4" class="proj-link">
      <li class="projeto">Projeto 4</li>
    </a>
    <a routerLink="/projeto5" class="proj-link">
      <li class="projeto">Projeto 5</li>
    </a>
  </ul>
</nav>
</div>
